@media (max-width: 1200px) {
    .hyperlink {
        filter: brightness(0) invert(1);
    }
}

.hyperlink {
  width: 14px;
  height: 14px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.navbar-nav .nav-link {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.navbar .nav-link.active {
  border-bottom-color: #53B656;
  color: #fff !important;
}